In [13]:
import pandas as pd
from ast import literal_eval

In [14]:
recipe_df = pd.read_csv('./data/RAW_recipes.csv')
inter_df = pd.read_csv('./data/RAW_interactions.csv')

In [15]:
''' 
Filtering
'''

# Drop NA and dups
recipe_df.dropna(inplace=True)
recipe_df.drop_duplicates(inplace=True)
inter_df.dropna(inplace=True)
inter_df.drop_duplicates(inplace=True)
inter_df.drop(columns=['review'], inplace=True)


# get users/recipes with n or more reviews
n = 30
recipe_rating_count = inter_df[['recipe_id', 'rating']].groupby(by=['recipe_id']).count()
recipe_more_than_n_rating = recipe_rating_count[recipe_rating_count['rating'] >= n]

user_rating_count = inter_df[['user_id', 'rating']].groupby(by=['user_id']).count()
user_more_than_n_rating = user_rating_count[user_rating_count['rating'] >= n]

# Filter out recipes and users with less than n ratings
inter_df = inter_df[inter_df['recipe_id'].isin(list(recipe_more_than_n_rating.index.to_numpy()))]
inter_df = inter_df[inter_df['user_id'].isin(list(user_more_than_n_rating.index.to_numpy()))]
recipe_df = recipe_df[recipe_df['id'].isin(list(recipe_more_than_n_rating.index.to_numpy()))]

#grab only 500 recipe
recipe_df = recipe_df.head(500)

inter_df = inter_df[inter_df['recipe_id'].isin(recipe_df['id'].unique())]
recipe_df = recipe_df[recipe_df['id'].isin(list(inter_df['recipe_id'].unique()))]
inter_df = inter_df[inter_df['recipe_id'].isin(recipe_df['id'].unique())]

In [16]:
'''
Mapping User_id, Recipe_id
'''

user_ids = inter_df['user_id'].unique()
user_id_map = {}
for i, uid in enumerate(user_ids):
    user_id_map[uid] = i

recipe_ids = inter_df['recipe_id'].unique()
recipe_id_map = {}
for i, rec_id in enumerate(recipe_ids):
    recipe_id_map[rec_id] = i

inter_df['user_id'] = inter_df['user_id'].apply(lambda x: user_id_map[x])
inter_df['recipe_id'] = inter_df['recipe_id'].apply(lambda x: recipe_id_map[x])
recipe_df['id'] = recipe_df['id'].apply(lambda x: recipe_id_map[x])

In [17]:
'''
Get unique ingredients, create ingrient id mapping/dataframe
update recipe_df with ingredient tokens
'''

unique_ingredients = set()
ingredients_list = recipe_df['ingredients']
for ingredients in ingredients_list:
    ingredients = literal_eval(ingredients)
    for ingredient in ingredients:
        unique_ingredients.add(ingredient)


unique_ingredients_map = {}
for i, ingredient in enumerate(unique_ingredients):
    unique_ingredients_map[ingredient] = i


def map_ingredients(ingredient_list):
    ingredient_list = literal_eval(ingredient_list)
    for i in range(len(ingredient_list)):
        ingredient_list[i] = unique_ingredients_map[ingredient_list[i]] 

    return ingredient_list


recipe_df['ingredients'] = recipe_df['ingredients'].apply(map_ingredients)


# recipe_name_map = {}
# for i, row in recipe_df[['name', 'id']].iterrows():
#     recipe_name_map[row['id']] = row['name']
    
# recipe_name_map = dict(sorted(recipe_name_map.items(), key=lambda item: item[0]))
ingredients_df = pd.DataFrame(index=unique_ingredients_map.values(), columns=['name'], data=unique_ingredients_map.keys())

In [18]:
'''
Get unique tags, create tag -> id mapping
update recipe_df

Add country columns
'''

# add region tags
with open('region_tags.txt', 'r') as f:
    data = f.read().rstrip()
    region_tags = literal_eval(data)


def extract_country(tags):
    tags = literal_eval(tags)
    for tag in tags:
        if tag in region_tags:
            return tag
    return ''


recipe_df['region'] = recipe_df['tags'].apply(extract_country)


unique_tags = set()
tags_list = recipe_df['tags']

for tags in tags_list:
    tags = literal_eval(tags)
    for tag in tags:
        unique_tags.add(tag)

unique_tags_id_map = {}
for i, tag in enumerate(sorted(list(unique_tags))):
    unique_tags_id_map[tag] = i

tags_df = pd.DataFrame(index=unique_tags_id_map.values(), columns=['name'], data=unique_tags_id_map.keys())

def map_tags(tags):
    tags = literal_eval(tags)
    for i in range(len(tags)):
        tags[i] = unique_tags_id_map[tags[i]]
    
    return tags


recipe_df['tags'] = recipe_df['tags'].apply(map_tags)

In [26]:
# print(ingredients_df, tags_df)
# ingredients_df['id'] = ingredients_df.index
ingredients_df.to_csv("data/output/ingredients.csv", index=True, index_label='id')
ingredients_df.to_csv("../backend/assets/ingredients.csv", index=True, index_label='id')

In [27]:
tags_df.to_csv("data/output/tags.csv", index=True, index_label='id')
tags_df.to_csv("../backend/assets/tags.csv", index=True, index_label='id')

In [29]:
recipe_df.to_csv("data/output/recipes.csv")
recipe_df.to_csv("../backend/assets/recipes.csv")

In [30]:
inter_df['user_id'] = inter_df['user_id'].astype(str)
#

In [31]:
inter_df.to_csv("data/output/interactions.csv")
inter_df.to_csv("../backend/assets/interactions.csv")

In [12]:
# import sqlalchemy

# engine = sqlalchemy.create_engine("cockroachdb://Dan:otN5xjFYuyeguA2-EJWC4A@void-carp-6949.5xj.cockroachlabs.cloud:26257/dev?sslmode=verify-full")

# ingredients_df.to_sql("ingredient", engine, index=True, index_label='id', if_exists='append')

In [39]:
inter_df[inter_df['user_id'] == '10']['recipe_id']

1017        0
6564        6
263857    138
502819    242
525486    255
537412    249
676460    311
710611    326
726028    335
908924    399
Name: recipe_id, dtype: int64

In [40]:
inter_df

        user_id  recipe_id        date  rating
1002          0          0  2003-01-02       5
1003          1          0  2004-05-25       5
1005          2          0  2004-09-20       5
1006          3          0  2004-12-27       5
1008          4          0  2005-02-15       5
...         ...        ...         ...     ...
1128108     336        495  2014-04-24       5
1129130     180        497  2011-03-15       5
1129178    2480        497  2012-05-06       5
1129197    3669        497  2014-01-09       1
1129200    1373        497  2014-04-14       3

[18176 rows x 4 columns]